.bg-green {
    background-color: #1DB954;
    border-color: #1DB954;
    border-style: solid;
}

.bg-black {
    background-color: black;
}

.border-green {
    border-color: #1DB954;
}
a.bg-green:hover {
    background-color: transparent;
}